.container-carousel {
  max-width 100vw
  overflow hidden
}

.carousel {
  display block
  height 600px
  &__roller {
    display flex
    transition all .3s linear
  }
  &__arrows {
    display flex
    justify-content space-between
  }
  &__arrow {
    background-color #000
    color #fff
    width 50px
    height 50px
    cursor pointer
  }
}
